# ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock
.cache/

# KiCad
*-bak/
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
fp-info-cache
*~

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editors
.vscode/
.idea/
*.swp
